@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  body {
    background: radial-gradient(circle at top left, #E0E7FF 0%, #F3F4F6 50%, #ffffff 100%);
    min-height: 100vh;
  }
}

@layer components {
  .glass-panel {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}
